@{
    ViewData["Title"] = "Water Insights";
}
<style>
    p, h1 {
        color:#FFFFFF;
    }
    #titulo1 {
        font-weight: 600;
        font-size: 85px;
        background: -webkit-radial-gradient(rgba(0, 200, 255, 1), rgba(0, 200, 255, 0.3));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<body style="background-color: #0D1117"/>

<div style="padding-top: 5em" class="text-center">
    <h1 class="display-4">Seja bem vindo ao</h1>
    <p id="titulo1">Water Insights</p>
    <p style="margin-top: 3%; font-size:20px">Seu fórum de projetos relacionados a água!</p>
    <p style="font-size:20px">Aqui você encontra os melhores projetos para reduzir o consumo de água, e tornar mais tecnológico e sustentável sua casa/empresa.</p>
</div>
