@{
    ViewData["Title"] = "Home Page";
}
<style>
    p, h1 {
        color:#FFFFFF;
    }
    .waves {
        margin-top:20.51em;
    }
</style>
<body style="background-color: #0D1117"></body>

<div style="padding-top: 5em" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
