@{
    ViewData["Title"] = "Home Page";
}
<style>
    p, h1 {
        color:#FFFFFF;
    }
</style>
<body style="background-color: #0D1117"></body>

<div style="padding-top: 5em" class="text-center">
    <h1 class="display-4">Seja bem vindo ao ____</h1>
    <p style="margin-top: 3%;">Seu fórum de projetos relacionados a água!</p>
    <p>Aqui você encontra os melhores projetos para reduzir o consumo de água, e tornar mais tecnológico e sustentável sua casa/empresa.</p>
</div>
