<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<body style="background-color: #0D1117" />


<div class="d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 40px;">
    <iframe style="border-radius: 10px" title="projeto_agua - Página 1" width="1024" height="450" src="https://app.powerbi.com/view?r=eyJrIjoiZGVmZTZiY2MtZjk1NS00MmRhLTlhMmEtOTE1NGEyMzIzNzllIiwidCI6IjhkOWY3N2E3LTFlMTctNDE2MC1iMGQ4LWE1NTc4MzhjNDkyZiJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
