<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<body style="background-color: #0D1117" />


<div class="d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 40px;">
    <iframe title="Projeto àgua" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=91e01b68-5cdb-4542-99de-57c7ab5baf51&autoAuth=true&ctid=8d9f77a7-1e17-4160-b0d8-a557838c492f" frameborder="0" allowFullScreen="true"></iframe>
</div>
