<style>
    #bordaCima {
        box-shadow: 0 3px 10px rgba(0, 200, 255, 0.5) !important;
    }

    .waves {
        position: relative;
        width: 100%;
        height: 10vh; /*Fix for safari gap*/
        margin-top: 2em;
        min-height: 50px;
        max-height: 150px;
    }
    /* Animation */

    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    }

        .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }

        .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }

        .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }

        .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }

    @@keyframes move-forever {
        0% {
            transform: translate3d(-90px,0,0);
        }

        100% {
            transform: translate3d(85px,0,0);
        }
    }

    .cup {
        float: left;
        margin-left: -10%;
        position: absolute;
        width: 150px;
        height: 180px;
        border: 6px solid #262626;
        border-top: 2px solid transparent;
        border-radius: 15px;
        transform: scale(0.2);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: url(https://image.ibb.co/fmHm66/wave.png);
        background-position: 0px 350px;
        background-repeat: repeat-x;
        animation: filling 10s ease-in-out infinite;
        box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
    }

        .cup:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 80px;
            border: 6px solid #fff;
            right: -57px;
            top: 30px;
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;
        }

    @@keyframes filling {
        50% {
            background-position: 3000px 0px;
        }

        100% {
            background-position: 6000px 350px;
        }
    }

    .dropdown-menu a:hover {
        background: rgba(22,27,34);
    }

    #titulo {
        font-weight: 600;
        font-size: 20px;
        background: -webkit-radial-gradient(rgba(0, 200, 255, 1), rgba(0, 200, 255, 0.3));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_Aplicado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav style="background-color: #161B22" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" id="bordaCima">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"><div style="margin-top: -90px" class="cup"></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li style="margin-left: 50px" class="nav-item">
                            <a id="titulo" class="nav-link text-light" asp-controller="Home" asp-action="Index">Water Insights</a>
                        </li>
                        <li style="margin-left: 40px; margin-top: 4px" class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Cadastro" asp-action="Cadastro">Cadastro</a>
                        </li>
                        <li class="nav-item" style="margin-top: 4px">
                            <div class="dropdown">
                                <a style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropMenu" class="nav-link text-light dropdown-toggle">Pesquisa</a>
                                <div style="background: #161B22" class="dropdown-menu" aria-labelledby="dropMenu">
                                    <a class="nav-link text-light dropdown-item" asp-area="" asp-controller="FormularioPowerBi" asp-action="FormularioPowerBi">Pesquisa sobre sua água!</a>
                                    <a class="nav-link text-light dropdown-item" asp-area="" asp-controller="PowerBi" asp-action="PowerBi">Mapa da água!</a>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item" style="margin-top: 4px">
                            <a class="nav-link text-light" asp-area="" asp-controller="Projeto" asp-action="Index">Projetos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position: absolute; bottom: 0px; right: 0; left: 0">
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(33, 113, 180, 0.7)" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(33, 113, 180, 0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(33, 113, 180, 0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(33, 113, 180, 1)" />
                </g>
            </svg>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
