@model Projeto_Aplicado.Models.PowerBiModel;


<style>
    .button-1 {
        background: #066C8B;
        border-radius: 999px;
        box-shadow: #066C8B 0 10px 20px -10px;
        box-sizing: border-box;
        color: rgba(255,255,255, 1);
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
    }

        .button-1:hover {
            transform: scale(1.02);
        }

    .switch {
        font-weight: 600;
        background: #eee;
        position: relative;
        width: 150px;
        height: 50px;
        text-align: center;
        background: #0AC07D;
        transition: all 0.2s ease;
        border-radius: 25px;
    }

        .switch span {
            position: absolute;
            width: 20px;
            height: 4px;
            top: 50%;
            left: 50%;
            margin: -2px 0px 0px -4px;
            background: #fff;
            display: block;
            transform: rotate(-45deg);
            transition: all 0.2s ease;
        }

            .switch span:after {
                content: "";
                display: block;
                position: absolute;
                width: 4px;
                height: 12px;
                margin-top: -8px;
                background: #fff;
                transition: all 0.2s ease;
            }

    input[type=radio] {
        display: none;
    }

    .switch label {
        cursor: pointer;
        color: rgba(0,0,0,0.2);
        width: 60px;
        line-height: 50px;
        transition: all 0.2s ease;
    }

    label[for=no] {
        position: absolute;
        left: 0px;
        height: 20px;
    }

    label[for=yes] {
        position: absolute;
        right: 0px;
    }

    #no:checked ~ .switch {
        background: #eb4f37;
    }

        #no:checked ~ .switch span {
            background: #fff;
            margin-left: -8px;
        }

            #no:checked ~ .switch span:after {
                background: #fff;
                height: 20px;
                margin-top: -8px;
                margin-left: 8px;
            }

    #yes:checked ~ .switch label[for=yes] {
        color: #fff;
    }

    #no:checked ~ .switch label[for=no] {
        color: #fff;
    }

    p {
        margin-top: 1.5rem;
        color: #fff;
    }

    .slider {
    }

    .formulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        position: relative;
        float: left;
        width: 100%;
        height: 60%;
        background: #161B22;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 200, 255, 0.5);
    }

    .switchMsg {
        margin: 0 auto;
    }

    .sliders {
        margin: 0 auto;
    }

    .slider {
        margin: 0 auto;
        width: 250px;
    }
</style>

<body style="background-color: #0D1117" />

<form asp-controller="FormularioPowerBi" asp-action="Value">
    <input asp-for="UsuarioId" type="hidden">
    <div class="formulario">
        <div class="switchMsg">
            <div class="row">
                <div class="form-group">
                    <p class="col-form-label" style="margin-top: 0">Você bebe a água da sua torneira?</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin: 0 auto">
                    <input asp-for="value1" value="0" type="radio" name="rdo" id="no" checked>
                    <input asp-for="value1" value="1" type="radio" name="rdo" id="yes">
                    <div class="switch">
                        <label for="no">Não</label>
                        <label for="yes">Sim</label>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sliders">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <p class="col-form-label col-12">De 0 a 100 avalie a qualidade da água na região</p>
                    </div>
                    <div class="row">
                        <input asp-for="value2" value="50" type="range" min="0" max="100" step="10" class="slider">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="col-form-label col-12">De 0 a 100 avalie a distribuição de água em sua cidade</p>
                    </div>
                    <div class="row">
                        <input asp-for="value3" value="50" type="range" min="0" max="100" step="10" class="slider">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <p class="col-form-label col-12">De 0 a 100 você considera caro ou barato a sua fatura de água (0 barato - 100 caro)</p>
                    </div>
                    <div class="row">
                        <input asp-for="value4" value="50" type="range" min="0" max="100" step="10" class="slider">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="col-form-label col-12" style="height: 62px">De 0 a 100 avalie o seu gasto de água (0 pouco - 100 muito)</p>
                        
                    </div>
                    <div class="row">
                        <input asp-for="value5" value="50" type="range" min="0" max="100" step="10" class="slider">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 2rem; justify-content: space-between" class="row g-12">
        <div class="col-12">
            <button style=" margin-top: 7%; width: 100%; position: relative; float: right;" type="submit" class="button-1">Cadastrar</button>
        </div>
    </div>
</form>

<script>

</script>